@font-face {
  font-family: Gotham;
  src: url("/fonts/Gotham/Gotham-Book.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Gotham;
  src: url("/fonts/Gotham/Gotham-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Coconat;
  src: url("/fonts/Coconat/Coconat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Apply base styles using theme variables */
:root {
  color-scheme: light dark;
  font-family: var(--font-family);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 0.3s, color 0.3s;
}

/* Styles for Firefox browsers (limited) */
html {
  scrollbar-width: thin;
  scrollbar-color: var(--color-blue-100) var(--color-teal-10);
}

/* Styles for WebKit browsers (Chrome, Edge, Safari) */
html::-webkit-scrollbar {
  width: var(--space-px-10);
  height: var(--space-px-10);
}

html::-webkit-scrollbar-track {
  @apply bg-[var(--color-teal-10)];
}

html::-webkit-scrollbar-thumb {
  @apply bg-[var(--color-blue-100)] rounded-2xl;
}

html::-webkit-scrollbar-thumb:hover {
  @apply bg-[var(--color-blue-alt)];
}

/* Styles for body */
body {
  @apply m-0 flex place-items-center min-h-screen;
}
